body {
  background-color: $main--background;
  color: $main--text;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  transition: all 0.8s ease-out;

  &.dark__theme {
    background-color: #303030;
  }

  &.dark__theme .up-btn {
    fill: $white-color;
  }
}
.trailer__visible {
  overflow-y: hidden;
}
.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;

  @media screen and (max-width: 767px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.button {
  display: block;
  text-align: center;
  border: 1px solid $main--text;
  border-radius: 5px;
  padding: 0;
  background-color: transparent;
  color: $main--text;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $main--accent;
    border-color: $main--accent;
    color: $main--background;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
