<main class="main">
  <button type="button" class="darktheme__btn">
    <svg class="icon" width="20" height="20">
      <use class="icon__moon icon__moon--hidden" href="./img/sprite.svg#icon-moon-stars-fill"></use>
      <use class="icon__sun" href="./img/sprite.svg#icon-sun-fill"></use>
    </svg>
  </button>
  <div class="container">
    <div class="content" data-movies>
      <ul class="gallery">
        <li class="template"></li>
        <li class="template"></li>
        <li class="template"></li>
      </ul>
    </div>
  </div>
  <include src="./partials/carousel.html"></include>
</main>